@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Add New Movie to the Collection";
}
@model MovieCollection.Models.Movie

<h2>Movie</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="AddMovie">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label">Category:</label>
                    <select asp-for="Category" class="form-control">
                        <option value="">Select One</option>
                        <option value="Action/Adventure">
                            Action/Adventure
                        </option>
                        <option value="Comedy">Comedy</option>
                        <option value="Drama">Drama</option>
                        <option value="Family">Family</option>
                        <option value="Horror/Suspense">Horror/Suspense</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        <option value="Television">Television</option>
                        <option value="VHS">VHS</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Director" class="control-label"></label>
                    <input asp-for="Director" class="form-control" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label">Rating:</label>
                    <select asp-for="Rating" class="form-control">
                        <option value="">Select One</option>
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                    </select>
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edited" class="form-check-label">Edited?</label>
                    <select asp-for="Edited" class="form-control">
                        <option value="">Select One</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="Edited" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LentTo" class="control-label"></label>
                    <input asp-for="LentTo" class="form-control" />
                    <span asp-validation-for="LentTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" maxlength="25" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="MovieList" class="btn btn-secondary float-right">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
