@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <div class="container">
        <div>
            @*<img src="~/JoelHilton.jpg" class="rounded-circle" />*@
            <i class="fas fa-film fa-10x"></i>
            <br />
            <div class="container text-center">
                <h2>Add a new movie to the collection.</h2>
                <p>Welcome to the authoritative and completely un-sanctioned Joel Hilton Film Collection website.</p>
                <a asp-action="AddMovie" class="btn btn-success">Add Movie</a>
            </div>
        </div>
    </div>
</div>
